

.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px; 
}
.mywork-title h1{
    padding: 0px 30px;
    font-size:70px;
    font-weight: 700;
}
.bubbles{
    border-radius: 20px;
    width: 100px;
    height: 200px;
    position: absolute;
    bottom: 10;
    left: 100;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 350px;
    height: 220px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.15);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;

}
.mywork-showmore{
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 50px;
    border: 2px solid rgb(252, 56, 242);
    padding: 10px 30px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.3s;

}
.workpic{
    border-radius: 20px;
/*     width: 200px;
    height: 150; */

}
.next{
    background-color: white;
    border: rgb(49, 3, 49) solid 2px;
    background: linear-gradient(270deg, #DF8908 60%, #B415FF 106.28%);

}
@media(max-width:715px){
    .mywork{
        
        gap: 50px;
        margin: 50 70px;
        align-items: center;
        margin-right: 15px;
    }
    .mywork-title h1{
        font-size: 30px;
        font-weight: 700;
        padding: 0;
    }
    .mywork-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 10px;
        margin-right: 50px;
    }
    .mywork-container img{
        width: 100%;
        height: 93%;
        border-radius:4px ;
        width: 210px;
        margin-right: 0px;
        margin-left: 20px;
    }
    .mywork-showmore{
        padding: 10px 20px;
        font-size: 18px;
        margin-bottom: 50px auto;
        cursor: pointer;
    }
    .like-section {
        bottom: 5px;
        left: 5px;
    }

    .like-button img {
        width: 20px;
        height: 20px;
    }

    .like-text {
        font-size: 14px;
        font-weight: 500;
    }
   
}
.work-item {
    position: relative;
}

.like-section {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
}

.like-button img {
    width: 24px;
    height: 24px;
}

.like-text {
    margin-left: 10px; /* Adjust the margin to move the text to the right */
    color: rgb(157, 209, 243); /* Adjust the color as needed */
}